".text.html":
  "Add New Function":
    prefix: "af"
    body: """
      add_action( '$1', '${2:function-name}' );
      function ${2:function-name}() {
        ${3:function}
      }
    """
  "Add Action":
    prefix: "aa"
    body: "add_action( '$1','$2' );"
  "Remove Action":
    prefix: "ra"
    body: "remove_action( '$1','$2' );"
  "Remove Site Title":
    prefix: "rst"
    body: "remove_action( 'genesis_site_title', 'genesis_seo_site_title' );"
  "Add Site Title":
    prefix: "ast"
    body: "add_action( '$1', 'genesis_seo_site_title' );"
  "Remove Site Description":
    prefix: "rsd"
    body: "remove_action( 'genesis_site_description', 'genesis_seo_site_description' );"
  "Add Site Description":
    prefix: "asd"
    body: "add_action( '$1', 'genesis_seo_site_description' );"
  "Remove Header Right Widget":
    prefix: "rhw"
    body: "unregister_sidebar( 'header-right' );"
  "Remove Entry Meta":
    prefix: "rem"
    body: "remove_action( 'genesis_entry_header', 'genesis_post_info', 12 );"
  "Add Entry Meta":
    prefix: "aem"
    body: "add_action( '$1', 'genesis_post_info' );"
  "Remove Entry Title":
    prefix: "ret"
    body: "remove_action( 'genesis_entry_header', 'genesis_do_post_title' );"
  "Add Entry Title":
    prefix: "aet"
    body: "add_action( '$1', 'genesis_do_post_title' );"
  "Remove Post Image":
    prefix: "rei"
    body: "remove_action( 'genesis_entry_header', 'genesis_do_post_format_image', 4 );"
  "Add Post Image":
    prefix: "aei"
    body: "add_action( '$1', 'genesis_do_post_format_image' );"
  "Customize Footer":
    prefix: "cfc"
    body: """
      remove_action( 'genesis_footer', 'genesis_do_footer' );
      add_action( 'genesis_footer', 'sp_custom_footer' );
      function sp_custom_footer() {
      ?>
        <p>&copy; Copyright 2012 <a href='${1:domain}'>${2:name}</a> &middot; All Rights Reserved &middot; Powered by <a href='http://wordpress.org/'>WordPress</a> &middot; <a href='http://${3:domain}/wp-admin'>Admin</a></p>
      <?php
      }
    """
  "Remove Primary Nav":
    prefix: "rpn"
    body: """
      remove_action( 'genesis_after_header', 'genesis_do_nav' );
    """
  "Add Primary Nav":
    prefix: "apn"
    body: "add_action( '$1', 'genesis_do_nav' );"
  "Remove Secondary Nav":
    prefix: "rsn"
    body: """
      remove_action( 'genesis_after_header', 'genesis_do_subnav' );
    """
  "Add Secondary Nav":
    prefix: "asn"
    body: "add_action( '$1', '$genesis_do_subnav' );"
  "Unregister Nav":
    prefix: "atsn"
    body: "add_theme_support( 'genesis-menus', array( 'primary' => __( 'Primary Navigation Menu', 'genesis' ) ) );"
  "Add Body Class":
    prefix: "abc"
    body: """
      add_filter( 'body_class', 'sp_body_class' );
      function sp_body_class( $classes ) {

    	  $classes[] = '${1 class-name}';
    	  return $classes;

      }
    """
  "Force Full Width Layout":
    prefix: "lfw"
    body: "add_filter( 'genesis_pre_get_option_site_layout', '__genesis_return_full_width_content' );"
  "Unregister Layout":
    prefix: "rl"
    body: "genesis_unregister_layout( '${1 layout-name}' );"
